<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.aiotlab.ecohealingproject">
    <!-- MQTT -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 안드로이드 버전9 포그라운드-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 디바이스 번호 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="kr.co.aiotlab.ecohealingproject.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kr.co.aiotlab.ecohealingproject.LoginActivity" />
        <activity
            android:name="kr.co.aiotlab.ecohealingproject.Main_User_Interface.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|orientation|screenSize" />
        <activity android:name="kr.co.aiotlab.ecohealingproject.CalendarActivity" />
        <activity android:name="kr.co.aiotlab.ecohealingproject.Main_User_Interface.BottomSettingActivity" />
        <activity android:name="kr.co.aiotlab.ecohealingproject.SigninActivity" />
        <activity android:name="kr.co.aiotlab.ecohealingproject.SingupActivity" />
        <activity android:name="kr.co.aiotlab.ecohealingproject.SensorControlActivity" />
        <activity android:name="kr.co.aiotlab.ecohealingproject.EnterIPandPort" />
        <activity
            android:name="kr.co.aiotlab.ecohealingproject.Activity_FireAlert"
            android:launchMode="singleTop" />

        <activity android:name="kr.co.aiotlab.ecohealingproject.IP_Setting_Activity" />

        <activity android:name=".MotionTestActivity"/>

        <activity
            android:name="kr.co.aiotlab.ecohealingproject.SearchCity"
            android:theme="@style/AppTheme.CustomTheme" />

        <service android:name="kr.co.aiotlab.ecohealingproject.Service.AppService" />
        <service android:name="kr.co.aiotlab.ecohealingproject.Service.AppService2" />
        <service android:name="kr.co.aiotlab.ecohealingproject.Service.AppService_push" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="kr.co.aiotlab.ecohealingproject.FirebaseInstanceIDService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />

            </intent-filter>
        </service>
    </application>

</manifest>